/* header container starts */
.header-container {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.header__contents {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.header__contents-caption {
  width: 90%;
  height: auto;
  font-size: 1.2rem;
  line-height: 20px;
  margin-bottom: 15px;
}

.header__contents-title {
  width: 90%;
  height: auto;
  font-size: 2.5rem;
  line-height: 50px;
  margin-bottom: 15px;
}

.header__contents-description {
  width: 90%;
  height: auto;
  font-size: 0.8rem;
  line-height: 20px;
  opacity: 0.7;
  margin-bottom: 15px;
}

.btn {
  width: 40%;
  height: 51px;
  margin-top: 20px;
  font-size: 1rem;
  line-height: 15px;
  margin-bottom: 45px;
}
/* header container ends */

/* main container start */

/* favorite food section start */
.food-section {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
}

.food__content {
  width: 80%;
  height: auto;
}

.food__description {
  width: 90%;
  height: auto;
  font-size: 1.2rem;
  line-height: 28px;
  margin-bottom: 5px;
}

.food__title {
  width: 90%;
  height: auto;
  font-size: 2.5rem;
  line-height: 50px;
}

.food-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  gap: 0px;
}

.food__item {
  width: 80%;
  height: auto;
  margin-bottom: 50px;
}

.food__item img {
  width: 100%;
  height: auto;
}

.buy-btn {
  width: 70%;
  height: auto;
  margin-top: 30px;
  margin-left: 15%;
  font-size: 1rem;
  line-height: 20px;
}

.food__item-title {
  margin-top: 10px;
  font-size: 1.5rem;
  line-height: 40px;
}

.food__item-description {
  margin-top: 5px;
  font-size: 0.9rem;
  line-height: 20px;
}

.button-item {
  width: 80%;
  height: 50px;
  margin-top: -20px;
  font-size: 1.2rem;
  line-height: 20px;
}
/* favorite food section end */

/* good food section start */
.good-section {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.good__image {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.good__image img {
  width: 100%;
  height: auto;
}

.good__content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.good__content-title {
  width: 90%;
  height: auto;
  font-size: 2.5rem;
  line-height: 50px;
}

.good__content-description {
  width: 90%;
  height: auto;
  margin-top: 20px;
  font-size: 0.9rem;
  line-height: 20px;
  text-align: center;
}

.follow__btn {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  color: rgb(16, 16, 16);
  font-size: 1.2rem;
  line-height: 30px;
}

.good__icons {
  margin-top: 20px;
  font-size: 1.8rem;
}
/* good food section end */

/* card section start */
.card-section {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-btn {
  width: 70%;
  height: auto;
  margin-top: 20px;
}

.card__title {
  width: 90%;
  height: auto;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: 600;
  line-height: 35px;
  margin-top: 15px;
}

.card__description {
  width: 90%;
  height: auto;
  margin: 0 auto;
  font-size: 0.9rem;
  line-height: 20px;
  margin-top: 10px;
}

.watch-btn {
  width: 80%;
}
/* card section end */
