body {
  font-family: "Work Sans", sans-serif;
}

/* universal selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header container starts */
.header-container {
  width: 1920px;
  height: 919px;
  border: 2px solid red;
  background-image: url("../assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  /* transform: rotate(-180.00deg);
background: linear-gradient(180.00deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%); */
}

.header-contents {
  width: 1000px;
  height: 215px;
  margin: 24px 0px;
  color: white;
  /* border: 2px solid aqua; */
  margin: 0 auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* padding: 260px 460px 440px 460px; */
}

.header-contents h3 {
  margin: 16px 0px;
  opacity: 0.8;
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 0px;
}

.header-contents h1 {
  margin: 16px 0px;
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}

.header-contents p {
  margin: 24px 0px;
  opacity: 0.7;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.header-contents .btn {
/* width: 279px;
height: 66px; */
padding: 21px 32px 21px 32px;
margin: 32px 0px;
border-radius: 8px;
border: none;
background: rgb(82, 195, 3);
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}
